Source: libprlsdk
Section: libs
Priority: optional
Maintainer: s3rj1k <evasive.gyron@gmail.com>
Build-Depends: debhelper (>= 9), libqt4-dev, libboost-all-dev, gdb, pkg-config
Standards-Version: 3.9.6

Package: libprlsdk-dev
Section: libdevel
Architecture: amd64
Depends: libprlsdk7 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: SDK API development library
 Virtuozzo SDK is a development kit used to create and
 integrate custom software solutions with Virtuozzo.
 The SDK provides cross-platform ANSI C and Python APIs.
 .
 This package contains SDK headers for Virtuozzo components.

Package: libprlsdk7
Architecture: amd64
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: SDK API library
 Virtuozzo SDK is a development kit used to create and
 integrate custom software solutions with Virtuozzo.
 The SDK provides cross-platform ANSI C and Python APIs.
 .
 This package contains SDK library for Virtuozzo components.
